

html{
    background-color: rgba(77, 77, 77, 0.966);
}

title{
    color: darkolivegreen;
    float: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

#index_main_text{
    color: #53dc98;
    font-family: 'Courier New', Courier, monospace;
    font-size: 50px;
    padding: 0;
    margin: 0;
    position: absolute;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}

#index_main_text:hover{
    color: white;
}

#index_main_photo{
    padding: auto;
    margin: auto;
    width:100%;
    transform: translateX(0%) translateY(0%);
}

@media screen and (max-width:1024px){
    #index_main_photo{
        width: 100%;
    }
}

@media screen and (max-width:768px){
    #index_main_photo{
        width: 900%;
        
    }
}


