#ul {
    color:#53dc98;
    margin: auto;
    padding: auto;
    list-style: none;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

ul li {
    color: transparent;
    float: left;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    line-height: 40px;
    text-align: center;
    width: 250px;
    height: 50px;
    font-size: 20px;
    opacity: 0.8;
}

ul li a {
    color: #53dc98;
    float: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 30px;
    width: 250px;
    height: 50px;
    line-height: 40px;
    text-align: center;
    text-decoration: none;
    display: block;
}

<a href="index.html"><img id= "logo" src="logo.png"></a>